* {
    font-family: 'Ubuntu Condensed', sans-serif;
    padding: 0;
    margin: 0;
    outline: none;
}

body {
    background: white;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.container-header {
    width: 100%;
    border-bottom: 1px solid rgba(42, 128, 185, 0.2);
}

.container-app,
.header-page,
.footer-page {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
}

.header-page a {
    text-decoration: none;
}

.header-page {
    padding: 10px 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.header-page h1 {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    padding: 0 10px;
    line-height: 48px;
    background: black;
    color: white;
}

.header-page button,
.uploader-modal button {
    color: white;
    background: #2a80b9;
    box-sizing: border-box;
    padding: 12px 30px;
    border-radius: 3px;
    border: 1px solid transparent;
    cursor: pointer;
}

.header-page button:hover {
    background: #2879b0;
}

.pictures-view {
    display: flex;
    flex-direction: column;
}

.header-pictures-view {
    display: flex;
    justify-content: space-between;
    padding: 30px 40px 20px;
}

.header-pictures-view h2 {
    font-size: 24px;
}

.header-pictures-view button {
    background: none;
    border: none;
}

.header-pictures-view button:enabled {
    cursor: pointer;
}

.header-pictures-view button:enabled:hover {
    text-decoration: underline;
    color: #2a80b9;
}

.pictures-view-items {
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    height: calc(100vh - 240px);
    border-radius: 5px;
    box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, .15);
}

.picture-item {
    width: 50%;
    min-width: 500px;
    box-sizing: border-box;
    height: 230px;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.picture-item:hover {
    background: rgba(42, 128, 185, 0.05);
}

.picture-img {
    overflow: hidden;
    width: 150px;
    height: 150px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 15px 0;
}

.picture-img img {
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 5px;
    transition: 1s;
}

.picture-img img:hover {
    transform: scale(1.2);
}

.picture-info {
    width: 50%;
}

.picture-info ul {
    margin-left: 10px;
    padding-left: 0;
}

.picture-info li {
    list-style: none;
    margin: 20px 0;
    white-space: nowrap;
    overflow: hidden;
    padding: 5px;
    text-overflow: ellipsis;
}

.picture-info label,
.picture-info input {
    cursor: pointer;
}

.pictures-pagination {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.container-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid rgba(42, 128, 185, 0.2);
}

.footer-page {
    text-align: right;
    min-height: 50px;
}

.footer-page a {
    line-height: 48px;
    font-size: 20px;
    text-decoration: none;
    color: #2a80b9;
}

.uploader-modal-wrapper {
    /*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
    display: none;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    z-index: 100;
}

.uploader-modal {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background: white;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 101;
    box-sizing: border-box;
    padding: 20px 40px;
    border-radius: 5px;
}

.uploader-modal form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.uploader-modal h3 {
    width: 100%;
    text-align: center;
    line-height: 34px;
    border-bottom: 1px solid rgba(42, 128, 185, 0.2);
}

.uploader-modal .ps {
    color: red;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 120px;
}

.uploader-modal .close-modal-btn {
    border-radius: 50%;
    line-height: 18px;
    text-align: center;
    background: red;
    color: white;
    width: 20px;
    height: 20px;
    position: absolute;
    display: block;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.uploader-modal button:disabled {
    background: rgba(0, 0, 0, .4);
    cursor: default;
}

#progress-bar {
    display: none;
}

#status-message {
    color: white;
    background-color: black;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: .9;
    padding: 20px 30px;
    border-radius: 5px;
    z-index: 1001;
}

::-webkit-scrollbar-track {
    border-radius: 5px;

}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .7);
    border: 1px solid rgba(0, 0, 0, .1);
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track:hover {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, .1);
    opacity: .2;
}
